doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title PlainPlane
  body
    section#game
      canvas#view(width="350" height="733")
    section.sample
      p ▼concept image
      img(src="./assets/sample.png",width = "350" alt="")
    section.sample 
      p ▼assets
      img(src='./assets/option_heal.png' height = '50')
      img(src='./assets/option_rapidfire.png' height = '50')
      img(src='./assets/option_twinbarrel.png' height = '50')
      img(src='./assets/option_powerup1.png' height = '50')
      img(src='./assets/option_powerup2.png' height = '50')
      img(src='./assets/option_powerup3.png' height = '50')
      img(src='./assets/health_label.png' height = '50')
      img(src='./assets/health_dot.png' height = '50')
      img(src='./assets/parts_plane.png' height = '50')
script(src = './app.js')