doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title PlainPlane
  body
    section 
      p plain plane is now making.
      canvas#view(width="350" height="733")
    section 
      p ▼concept image
      img(src="./assets/sample.png",width = "350" alt="")
script(src = './app.js')